@font-face {
	font-family: 'Archangelsk';
	src: url('../fonts/archangelsk.woff2') format('woff2'),
		url('../fonts/archangelsk.woff') format('woff');
	font-family: 'Archangelsk';
	font-style: normal;
	font-weight: 400;
	font-size: 62px;
	line-height: 63px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 1280px;
	height: 1000px;
	margin: auto;
	position: relative;
}
body {
	font-family: 'Archangelsk', sans-serif;
	background: url(../Images/11.jpg);
	background-repeat: no-repeat;
}
.nav-bar {
	display: flex;
	justify-content: space-between;
}
.nav-list {
	display: flex;
	gap: 30px;
	list-style: none;
	align-items: center;
}

.rectangle {
	position: absolute;
	bottom: 0;
	right: 0;
}

.content-rectangle {
	position: relative;
	margin: auto 70px;
}

.content-text {
	position: absolute;
	bottom: 173px;
	left: 10%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 35px;
	width: 484px;
	height: 125px;
}

.rectangle-text {
	font-size: 44px;
	letter-spacing: 2px;
}

.btn {
	width: 272px;
	height: 78px;
	background: #000000;
	text-decoration: none;
	text-align: center;
	margin: auto 15px;
	border: none;
	color: #f8f200;
	padding: 25px 25px;
}

.main-container {
	background-color: white;
	max-width: 100%;
	width: 1920px;
	height: 777px;
	margin-right:640px;
}
.main-content {
	padding: 70px 0 320px 320px;
	line-height: 100%;
	font-weight: 700;
}
.text {
	font-size: 62px;
	width:996px;
	height: 63px;
}

.content {
	width: 952px;
	padding: 30px 0;
	font-size: 18px;
	color: #777777;
	line-height: 34px;
	font-weight: 400;
}

.game-title {
	color: #52bedc;
}

.fragments-1{
	display: flex;
	
}

.rec-img{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;


}
.fragments-2{
	margin-left:  32px;

	


	
}
.rec-61{


}